.footer__grid {
  display: grid;
  padding-top: 24px;
  padding-bottom: 16px;
  grid-template-columns: 43% 29% 28%;

  @media (max-width: 1132px){
    grid-template-columns: 33% 44% 23%;
  }

  @media (max-width: 822px) {
    grid-template-columns: 50% 50%;
  }

  @media (max-width: 752px) {
    grid-template-columns: 100%;
    grid-template-rows: 123px 62px;
    padding: 0;
  }
}

.footer__grid-left {
  @media (max-width: 752px) {
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #4a4a4a;
    padding-top: 14px;
    padding-bottom: 13px;
  }
}

.footer__logo-link {
  @media (max-width: 752px) {
    justify-content: center;
    margin: 0;
    max-width: 100%;
  }
}
.footer__left-description {
  color: #e9e9e9;
  margin-top: 6px;
  font-family: 'FirsNeue';
  font-size: 14px;
  line-height: 18px;
}


.footer__center-description,
.footer__right-span{
  color: #cacaca;
}

.footer__grid-center {
  @media (max-width: 822px){
    display: none;
  }
}

.footer__centr-span{
  color: #666666;
}

.footer__grid-right {
  text-align: right;

  @media (max-width: 752px) {
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 31px;
    padding-bottom: 32px;
  }
}


.footer__social-list {
  padding-right: 10px;
  margin-top: 8px;
  @media (max-width: 1132px) {
    padding: 0;
    padding-left: 77px;
  }
  @media (max-width: 822px) {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    padding-right: 10px;
  }

  @media (max-width: 752px) {
    justify-content: center;
    padding: 0;
  }
}

.footer__social-link {
  color: #cacaca;
}
